@font-face {
    font-family: "zkkl";
    src: url("zkkl.TTF");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'zkkl';
}

.container {
    width: 1920px;
    background: url(./bgimg.jpg) no-repeat;
    background-size: 100%;
    padding-bottom: 15px;
}

.head_box {
    margin-left: 100px;
    padding-top: 100px;
    font-size: 70px;
}

.help {
    border: 1px solid black;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    color: black;
}

img {
    width: 100px;
    height: 100px;
}

.img-div {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}


.title {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 40px;
}

.help-div {
    width: 800px;
    margin-bottom: 15px;
    margin-left: 30px;
    height: 250px;
}

.help-div2 {
    width: 100%;
    margin-bottom: 15px;
}

.text-desc-div {
    width: 600px;
}

.help-text,
.help-div>div {
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
}

.help-div2 {
    padding-right: 15px;
}

.help-div2>div {
    display: flex;
}

.help-div>div,
.help-div2>div {
    margin-left: 10px;
    margin-top: 10px;
}

.text-div {
    margin-left: 10px;
}

.plugin {
    margin-top: 10px;
    margin-bottom: 20px;
}

.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}